<!DOCTYPE html>
<html class="animsition">
	<head>
		<title>DiPinto Guitars</title>
		<link rel="stylesheet" type="text/css" href="../public/styles/mainstyles.css">
		<link rel="stylesheet" type="text/css" href="../public/styles/guitars.css">
		<link rel="stylesheet" type="text/css" href="../public/styles/animsition.css">
		<script src='http://code.jquery.com/jquery-2.1.4.js'></script>
		<script src="../public/scripts/jquery.animsition.js"></script>
		<script src="../public/scripts/call.js"></script>
		<meta charset="UTF-8">
	</head>
	<body>
		<a class="animsition-link" href="cover.html"><img class='cornerlogo' src="../public/images/logo.png" alt="DiPinto Guitars Logo"></a>
		
		<nav>
			<ul>
				<li><a class="animsition-link" href="about.html"><strong>ABOUT</strong></a></li>
				<li><a class="animsition-link" href="guitars.html"><strong>GUITARS</strong></a></li>
				<li><a class="animsition-link" href="questions.html"><strong>QUESTIONS</strong></a></li>
				<li><a class="animsition-link" href="testimonials.html"><strong>TESTIMONIALS</strong></a></li>
			</ul>
		</nav>

		<div class='content'>
<!--			<h1>All About Us</h1>
 			<div class='aboutblurb'>
				<p>
					DiPinto Guitars is a small family owned company, operating out of Philadelphia, PA. Founded in 1995 as a repair shop, the store slowly evolved into a showroom specializing in oddball vintage guitars and Chris DiPinto's own guitar creations. Over the years, DiPinto has grown to include a full scale guitar manufacturing operation while still operating the original retail outlet.
				</p>
				<p>
					Our new retail shop is located at 407-409 E. Girard Avenue, in the Fishtown section of Philadelphia. The hours of operation are: Monday - Saturday 12:00 - 7:00pm, closed Sunday. There is a decent selection of used and vintage guitars, amps, and basses (listed in the vintage section of our website). Also, the complete line of DiPinto Guitars and Basses are available for demonstration or purchase.
				</p>
				<p>
					If you need directions to our shop, click here. If you have any questions, please post them on our FORUMS PAGE, they will be answered within 2-3 days..
				</p>
			</div> -->
		</div>
		<div class='social-media'>
			<a href='https://www.facebook.com/dipintoguitars' target="_blank"><img src='../public/images/iconfb.png' alt='myspace'></a>
			<a href='https://www.youtube.com/user/DiPintoGuitar?feature=mhsn' target="_blank"><img src='../public/images/iconyt.png' alt='facebook'></a>
			<a href='https://www.pinterest.com/dipintogutiars/' target="_blank"><img src='../public/images/iconp.png' alt='facebook'></a>
		</div>
	</body>
</html>