<!DOCTYPE html>
<html>
	<head>
		<title>DiPinto Guitars</title>
		<link rel="stylesheet" type="text/css" href="../public/styles/coverstyles.css">
		<script src='http://code.jquery.com/jquery-2.1.4.js'></script>
		<script src='../public/scripts/cover.js'></script>
		<meta charset="UTF-8">
	</head>
	<a href="about.html"><body>
<!-- 		<div class='overlay'>dd</div> -->		
		<img class='coverlogo' src="../public/images/logo.png" alt="Dipinto">
		

		<div class='coverbar'>
			<h1>CORPORATE GUITARS STILL SUCK</h1>
		</div>

	</body></a>
</html>