<!DOCTYPE html>
<html class="animsition">
	<head>
		<title>DiPinto Guitars</title>
		<link rel="stylesheet" type="text/css" href="../public/styles/mainstyles.css">
		<link rel="stylesheet" type="text/css" href="../public/styles/guitars.css">
		<link rel="stylesheet" type="text/css" href="../public/styles/animsition.css">
		<script src='http://code.jquery.com/jquery-2.1.4.js'></script>
		<script src="../public/scripts/jquery.animsition.js"></script>
		<script src="../public/scripts/call.js"></script>
		<meta charset="UTF-8">
	</head>
	<body>
		<a class="animsition-link" href="cover.html"><img class='cornerlogo' src="../public/images/logo.png" alt="DiPinto Guitars Logo"></a>
		
		<nav>
			<ul>
				<li><a class="animsition-link" href="about.html"><strong>ABOUT</strong></a></li>
				<li><a class="animsition-link" href="guitars.html"><strong>GUITARS</strong></a></li>
				<li><a class="animsition-link" href="questions.html"><strong>QUESTIONS</strong></a></li>
				<li><a class="animsition-link" href="testimonials.html"><strong>TESTIMONIALS</strong></a></li>
			</ul>
		</nav>

		<div class='content'>
			<div class="buffer">
				<h1 class='headline'>Mach IV</h1>
				<img class='guitimg' src="../public/guitars/machblue.jpg" alt="Belvedere Deluxe">
				
				<div class='gstats'>
					<table>
						<tr>
							<td><strong>Body</strong></td>
							<td>Mahogany</td>
						</tr>
						<tr>
							<td><strong>Neck</strong></td>
							<td>Maple</td>
						</tr>
						<tr>
							<td><strong>Fingerboard</strong></td>
							<td>Rosewood</td>
						</tr>
						<tr>
							<td><strong>Construction</strong></td>
							<td>Bolt on neck</td>
						</tr>
						<tr>
							<td><strong>Frets</strong></td>
							<td>22</td>
						</tr>
						<tr>
							<td><strong>Scale</strong></td>
							<td>24 3/4"</td>
						</tr>
						<tr>
							<td><strong>Pickup</strong></td>
							<td>DiPinto single coil + DiPinto humbucker</td>
						</tr>
						<tr>
							<td><strong>Selector</strong></td>
							<td>Three position toggle switch</td>
						</tr>
						<tr>
							<td><strong>Controls</strong></td>
							<td>One volume, one tone</td>
						</tr>
						<tr>
							<td><strong>Bridge</strong></td>
							<td>Tune-o-matic w/ stop tailpiece</td>
						</tr>
						<tr>
							<td><strong>Tuners</strong></td>
							<td>Enclosed gear</td>
						</tr>
					</table>
				</div>
				
				<iframe width="560" height="315" src="https://www.youtube.com/embed/gsmDJiFevno" frameborder="0" allowfullscreen></iframe>

			</div>
		</div>
		<div class='social-media'>
			<a href='https://www.facebook.com/dipintoguitars' target="_blank"><img src='../public/images/iconfb.png' alt='myspace'></a>
			<a href='https://www.youtube.com/user/DiPintoGuitar?feature=mhsn' target="_blank"><img src='../public/images/iconyt.png' alt='facebook'></a>
			<a href='https://www.pinterest.com/dipintogutiars/' target="_blank"><img src='../public/images/iconp.png' alt='facebook'></a>
		</div>
	</body>
</html>






<!-- 
						<div><strong>Body:</strong> Mahogany</div>
						<div><strong>Neck:</strong> Maple</div>
						<div><strong>Fingerboard:</strong> Rosewood with star or dot inlay</div>
						<div><strong>Construction:</strong> Bolt on neck</div>
						<div><strong>Frets:</strong> 22</div>
						<div><strong>Scale:</strong> 25 1/2"</div>
						<div><strong>Pickup:</strong> Four DiPinto single coil</div>
						<div><strong>Selector:</strong> Five position switch or 4 rocker switches</div>
						<div><strong>Controls:</strong> One volume, one tone</div>
						<div><strong>Bridge:</strong> Floating intonatable bridge w/ removable cover</div>
						<div><strong>Tuners:</strong> Enclosed gear, pearl button machines</div>
-->


