<!DOCTYPE html>
<html class="animsition">
	<head>
		<title>DiPinto Guitars</title>
		<link rel="stylesheet" type="text/css" href="../public/styles/mainstyles.css">
		<link rel="stylesheet" type="text/css" href="../public/styles/guitars.css">
		<link rel="stylesheet" type="text/css" href="../public/styles/animsition.css">
		<script src='http://code.jquery.com/jquery-2.1.4.js'></script>
		<script src="../public/scripts/jquery.animsition.js"></script>
		<script src="../public/scripts/call.js"></script>
		<meta charset="UTF-8">
	</head>
	<body>
		<a class="animsition-link" href="cover.html"><img class='cornerlogo' src="../public/images/logo.png" alt="DiPinto Guitars Logo"></a>
		
		<nav>
			<ul>
				<li><a class="animsition-link" href="about.html"><strong>ABOUT</strong></a></li>
				<li><a class="animsition-link" href="guitars.html"><strong>GUITARS</strong></a></li>
				<li><a class="animsition-link" href="questions.html"><strong>QUESTIONS</strong></a></li>
				<li><a class="animsition-link" href="testimonials.html"><strong>TESTIMONIALS</strong></a></li>
			</ul>
		</nav>

		<div class='content'>
			<div class="buffer">
				<h1 class='headline'>DiPinto Guitars</h1>

				<h2 class='guitarstitles'>Galaxie 4</h2>
				<a class="animsition-link" href="g-galaxie.html"><img class='guitarsimgs' src="../public/guitars/galsilver.jpg" alt="Galaxie 4"></a>

				<h2 class='guitarstitles'>Belvedere Deluxe</h2>
				<a class="animsition-link" href="g-belvedere.html"><img class='guitarsimgs' src="../public/guitars/belblack.jpg" alt="Belvedere Deluxe"></a>

				<h2 class='guitarstitles'>Mach IV</h2>
				<a class="animsition-link" href="g-mach.html"><img class='guitarsimgs' src="../public/guitars/machblue.jpg" alt="Mach IV"></a>

				<h2 class='guitarstitles'>The Bacchus</h2>
				<a class="animsition-link" href="g-bacchus.html"><img class='guitarsimgs' src="../public/guitars/bacburst.jpg" alt="The Bacchus"></a>

			</div>
		</div>
		<div class='social-media'>
			<a href='https://www.facebook.com/dipintoguitars' target="_blank"><img src='../public/images/iconfb.png' alt='myspace'></a>
			<a href='https://www.youtube.com/user/DiPintoGuitar?feature=mhsn' target="_blank"><img src='../public/images/iconyt.png' alt='facebook'></a>
			<a href='https://www.pinterest.com/dipintogutiars/' target="_blank"><img src='../public/images/iconp.png' alt='facebook'></a>
		</div>
	</body>
</html>